.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #ffffff;
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.menu {
  display: flex;
}

.menu button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.menu button:hover {
  color: #21a1f1;
}

.auth-section {
  display: flex;
  align-items: center;
}

.auth-section input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-section .search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.auth-section .error {
  color: red;
  margin-top: 10px;
}

.auth-section .auth-link {
  margin-left: 20px;
  color: #21a1f1;
  text-decoration: none;
  font-size: 16px;
}

.auth-section .auth-link:hover {
  text-decoration: underline;
}

.main-image {
  width: 100%;
  height: auto;
}



